.w-button {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

	width: auto;

	font-family: 'Roboto', Arial, sans-serif;
	line-height: 1.5;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	font-stretch: normal;

	margin: 0;
	border: none;
	border-radius: 6px;
	background-color: transparent;
	cursor: pointer;
	user-select: none;

	transition: all 0.15s ease-in-out;

	&:disabled {
		pointer-events: none;
		cursor: not-allowed;
	}

	&:focus {
		outline: none;
	}
}

@import '--type-primary/w-button--type-primary.scss';
@import '--type-secondary/w-button--type-secondary.scss';
@import '--size-big/w-button--size-big.scss';
@import '--size-medium/w-button--size-medium.scss';
@import '--size-small/w-button--size-small.scss';
