.w-icon_size {}

.w-icon_size_64 {
	width: 64px;
	height: 64px;
}

.w-icon_size_32 {
	width: 32px;
	height: 32px;
}

.w-icon_size_24 {
	width: 24px;
	height: 24px;
}

.w-icon_size_20 {
	width: 20px;
	height: 20px;
}

.w-icon_size_16 {
	width: 16px;
	height: 16px;
}

.w-icon_size_12 {
	width: 16px;
	height: 6px;
}

.w-icon_size_10 {
	width: 10px;
	height: 10px;
}

.w-icon_size_9 {
	width: 9px;
	height: 9px;
}

.w-icon_size_6 {
	width: 6px;
	height: 12px;
}

.w-icon_size_6x10 {
	width: 6px;
	height: 10px;
}

.w-icon__remSize {
	width: 1rem;
	height: 1rem;
}
