$main-color: #3F6FE2;
$main-color-variant1: #5E87EA;
$main-color-variant2: #2051C8;

$white-color: white;

$main-color-disabled: white;
$main-color-disabled-variant1: #D9DDE7;
$main-color-disabled-variant2: #A9B1B8;

// WButton
$w-button-primary-text-color: $white-color;
$w-button-primary-background-color: $main-color;
$w-button-primary-background-color-hover: $main-color-variant1;
$w-button-primary-background-color-active: $main-color-variant2;
$w-button-primary-background-color-disabled: $main-color-disabled-variant1;

$w-button-secondary-background-color: $white-color;
$w-button-secondary-text-color: $main-color;
$w-button-secondary-text-color-disabled: $main-color-disabled-variant2;
$w-button-secondary-border-color-hover: $main-color-variant1;
$w-button-secondary-border-color-active: $main-color-variant2;
$w-button-secondary-border-color-disabled: $main-color-disabled-variant1;

//WBadge
$w-badge-primary-text-color: #056AD6;
$w-badge-primary-background-color: #E2EDFD;
$w-badge-primary-background-color-hover: #D7E1FD;

$w-badge-secondary-text-color: #9B9BA6;
$w-badge-secondary-background-color: #E9E9ED;
$w-badge-secondary-background-color-hover: #D4D4D8;

$w-badge-danger-text-color: #F5444C;
$w-badge-danger-background-color: #FDE0E0;
$w-badge-danger-background-color-hover: #E3D4D4;

$w-badge-warning-text-color: #D59E12;
$w-badge-warning-background-color: #FFEFC6;
$w-badge-warning-background-color-hover: #efdfb6;
